.wrapper {
  padding-top: 50px;
  background: #ECEFF1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background-color:black; 
  background-image: linear-gradient(to top,  rgba(83, 44, 224), rgba(17, 17, 17)); 
}
